body {
  font-family: "Segoe UI", 'Times New Roman', Times, serif;
  background: url("download.jpeg") no-repeat center/cover;
  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #f79494;

}

.card {
  background: rgba(255, 255, 255, 0.12);
  padding: 30px;
  border-radius: 18px;
  backdrop-filter: blur(3px);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);

  width: 80%;
  max-width: 700px;
  min-width: 320px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 0 0 10px #ffa2a2;
}

input {
  width: 100%;
  padding: 14px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  margin-bottom: 15px;
  outline: none;
}

button {
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin: 5px 5px 0 0;
}

button:hover {
  opacity: 0.9;
}

#prosesBtn {
  background: #ff95ac;
  color: #ffffff;
}

#ulangBtn {
  background: #ff829d;
  display: none;
  color:#ffffff;
}

#status {
  margin-top: 15px;
  font-weight: bold;
  min-height: 25px;
}

#hasil {
  margin-top: 10px;
  font-size: 22px;
  font-weight: bold;
  min-height: 30px;
}

