body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #b74b62, #4e7ddb);
  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
}

.card {
  background: rgba(255, 255, 255, 0.12);
  padding: 30px;
  border-radius: 18px;
  backdrop-filter: blur(12px);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);

  width: 80%;
  max-width: 700px;
  min-width: 320px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 14px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  margin-bottom: 15px;
  outline: none;
}

button {
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin: 5px 5px 0 0;
}

button:hover {
  opacity: 0.9;
}

#prosesBtn {
  background: #ff95c6;
  color: #000;
}

#ulangBtn {
  background: #ffbcdb;
  display: none;
}

#status {
  margin-top: 15px;
  font-weight: bold;
  min-height: 25px;
}

#hasil {
  margin-top: 10px;
  font-size: 22px;
  font-weight: bold;
  min-height: 30px;
}
